*.o
*.lo
*.la
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
config.sub
configure
libtool
stamp-h1
build-aux
autom4te.cache
ell/ell.pc
unit/test-unit
unit/test-queue
unit/test-hashmap
unit/test-endian
unit/test-string
unit/test-utf8
unit/test-main
unit/test-io
unit/test-plugin
unit/test-checksum
unit/test-settings
unit/test-netlink
unit/test-genl
unit/test-kdbus
unit/test-dbus
unit/test-dbus-message
unit/test-dbus-util
unit/test-dbus-service
unit/test-gvariant-util
unit/test-gvariant-message
unit/test-siphash
unit/test-hwdb
unit/*.log
unit/*.trs
examples/dbus-service
test-suite.log
