*.o
*.lo
*.la
.libs
.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

ell/ell.pc
unit/test-unit
unit/test-queue
unit/test-hashmap
unit/test-string
unit/test-main
unit/test-io
unit/test-checksum

doc/*.bak
doc/*.stamp
doc/*.sgml
doc/ell.*
doc/ell-*.xml
doc/ell-*.txt
doc/version.xml
doc/xml
doc/html
doc/gtk-doc.make
